@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

@import "interface";
@import "desktop";
@import "menu";
@import "sub-menu";
@import "widgets";
@import "windows";
@import "svg-icons";
@import "apps-styles";
@import "widgets-styles";

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    user-select: none;
    scrollbar-width: thin;
    scrollbar-color: $medium-grey transparent;
    &:focus {
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: $medium-grey; 
}
::-webkit-scrollbar-thumb:hover {
    background: $grey;
}